@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Helvetica Neue", "Times New Roman";
}

.container {
  width: 1000px;
}

.header {
  display: flex;
  align-items: center;
}

.search {
  flex: 1;
  margin-left: 20px;
}

.search input {
  width: 100%;
  height: 2rem;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 30px;
  border: solid 1px lightgray;
}

.search input:focus {
  outline: none;
}

.posts {
  margin-top: 2rem;
}

.posts .post {
  margin-bottom: 2rem;
}

.posts .post .title > a {
  text-decoration: none;
  font-size: 1.2rem;
}

.posts .post .body {
  font-size: 0.7rem;
  color: gray;
  max-height: 90px;
  overflow: hidden;
  position: relative;
}

.posts .post .body:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0) 20%);
  pointer-events: none;
  /* so the text is still selectable */
}

